body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
}

.container {
    display: flex;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .image-track {
    display: flex;
    width: calc(200%); /* Verdubbelde breedte om het herhalende effect te creëren */
    animation: scroll 3s linear infinite;
  }

  
  @keyframes scroll {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.641); /* Licht transparant wit */
    backdrop-filter: blur(10px); /* Blur effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Schaduw om de navbar meer op te laten vallen */
    z-index: 1000; /* Zorg ervoor dat de navbar boven andere elementen staat */
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    color: #d1cbcb;
    text-decoration: none;
  }
  
  .navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-menu li {
    margin-left: 20px;
  }
  
  .navbar-menu a {
    text-decoration: none;
    color: #d1cbcb;
    font-size: 1rem;
    transition: color 0.3s;
  }
  
  .navbar-menu a:hover {
    color: #f689f6; /* Hover kleur */
  }
  
  main {
    padding: 60px 0px; /* Zorg ervoor dat de content niet onder de navbar valt */
  }

  .collectie{
    padding-left: 100px;
  }

  .collection-cards {
    /* Add shadows to create the "card" effect */
    width: 320px;
    height: 375px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.36);
    transition: 0.1s;
    border-radius: 25px;
    text-align: center;
  }
  
  /* On mouse-over, add a deeper shadow */
  .collection-cards:hover {
    box-shadow: 0 8px 16px 0 rgba(26, 124, 57, 0.767);
  }
  
  /* Add some padding inside the card container */
  .collection-cards-inside {
    padding: 16px;
  }

  .bestel-knop{
    outline: none;
    border: none;
    border-radius: 90px;
    background-color: rgb(174, 241, 126);
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.5rem;
    transition: 0.3s;
    width: 90%;
    font-weight:500;
  }

  .bestel-knop:hover{
    background-color: #27f7df;
  }